.link {
  stroke: #aaa;
  stroke-opacity: 0.05;
}

/*no change currently */

.node .circle {
  stroke: #aaa;
  stroke-width: 1;  
}
.node .circle:hover {
  stroke: #999;
  stroke-width: 2;  
}


body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}


svg#graphsvg{ 
  border: 0;
}

input#search, button#searchbutton{

position: relative;
top:  -1150px;
left: 640px;
}